---
---

@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700&display=swap')

body
  font-family: 'cinzel', sarif
  padding: 0
  margin: 0
  background-color: #272824
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: subpixel-antialiased
  -moz-osx-font-smoothing: grayscale

.hero
  font-family: 'cinzel', sarif
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  color: ivory

.home-hero
  background-image: url('/images/pond.jpg')
  background-size: cover
  background-position: center
  height: 100vh

.hero-title
  font-weight: normal
  text-transform: uppercase
  font-size: 144px
  margin-bottom: 0
  text-align: center

.hero-sub-title
  font-weight: normal
  font-size: 36px
  max-width: 724px
  text-align: center

.nav-list
  text-transform: uppercase
  color: ivory
  list-style: none
  a
    color: ivory
    text-decoration: none
    &:visited
      color: ivory

@media only screen and (max-width: 768px)
  .nav
    position: fixed
    top: 0
    width: 100vw

  .nav-list
    display: flex
    flex-direction: column
    height: 100vh
    font-size: 24px
    margin: 50px 0
    position: absolute
    width: 300px
    margin: -100px 0 0 -50px
    padding: 50px
    padding-top: 125px
    background: #272824
    list-style-type: none
    -webkit-font-smoothing: antialiased
    transform-origin: 0% 0%
    transform: translate(-100%, 0)
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)

    li
      margin-bottom: 24px

  div#menu-toggle
    margin: 50px
    display: block
    position: relative
    z-index: 1
    -webkit-user-select: none
    user-select: none

  input.hamburger-checkbox
    display: block
    width: 40px
    height: 40px
    position: absolute
    top: -7px
    left: -5px
    cursor: pointer
    opacity: 0
    z-index: 2
    -webkit-touch-callout: none

  div.hamburger-line
    display: block
    width: 33px
    height: 4px
    margin-bottom: 5px
    position: relative
    background: ivory
    border-radius: 3px
    z-index: 1
    transform-origin: 4px 0px
    transition: transform 0.5s cubic-bezier(.77,.2,.05,1), background 0.5s cubic-bezier(.77,.2,.05,1), opacity 0.55s ease

    &:first-child
      transform-origin: 0% 0%

    &:nth-last-child(2)
      transform-origin: 0% 100%

  input:checked ~ div.hamburger-line
    opacity: 1
    transform: rotate(45deg) translate(-2px, -1px)
    &:nth-last-child(3)
      opacity: 0
      transform: rotate(0deg) scale(0.2, 0.2)
    &:nth-last-child(5)
      opacity: 0
      transform: rotate(0deg) scale(0.2, 0.2)
    &:nth-last-child(2)
      transform: rotate(-45deg) translate(0, -1px)

  input:checked ~ ul.nav-list
    transform: none

@media only screen and (min-width: 769px)
  .nav
    position: fixed
    top: 0
    width: 100vw

  .nav-list
    display: flex
    justify-content: space-evenly
    font-size: 24px
    margin: 50px 0
  .hamburger-checkbox, .hamburger-line
    display: none
